@CHARSET "UTF-8";
/* body{
	background-image: url(../images/background5.jpg)
} */
h2{
	color:green;
}
div#container{
	text-align: center;
	width:300px;
	height:350px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
input#reset{
	margin-left: 4em;
}
input#submit{
	margin-left: 6em;
}