@CHARSET "UTF-8";
.menu-right{
	position: absolute;
    top: 80px;
    bottom: 0;
    left: 150px;
    right: 0;
    z-index: 1;
}
.menu-right .text{
	margin-top:60px;
}
.menu-right .text p{
	text-indent: 2em;
	font-size:15px;
}
.menu-right .table{
	margin-left: 300px;
	margin-top: 50px;
}
.menu-right .table tr{
	width:50px;
	height:20px;
}
.menu-right .table #water_requirement td{
	width: 130px;
}
.menu-right .updateitemdiv p{
	margin-top: 1em;
}
.menu-right .updateitemdiv{
	margin-left:490px;
	margin-top:50px;
}
.menu-right .verifyidentity p{
	margin-top:1em;
}
.menu-right .verifyidentity{
	margin-left:480px;
	margin-top: 50px;
}
.menu-right .additemdiv{
	margin-left:490px;
	margin-top:50px;
}
.menu-right .additemdiv p{
	margin-top: 1em;
}
.menu-right .query{
	width: 300px;
	height: 20px;
}
.menu-right #table{
	margin-left: 350px;
	margin-top: 20px;
}